<%= form_with(model: @empregador, local: true) do |form| %>
  <% if @empregador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empregador.errors.count, "erro") %> proibiu este empregador de ser salvo:</h2>
      <ul>
        <% @empregador.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.telephone_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :empresa %>
    <%= form.text_field :empresa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
