<!DOCTYPE html>
<html>
<head>
  <title>Projeto Terceira VA</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Candidatos', candidatos_path %></li>
        <li><%= link_to 'Empregadores', empregadores_path %></li>
        <li><%= link_to 'Vagas', vagas_path %></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>&copy; 2024 Projeto Terceira VA</p>
  </footer>
</body>
</html>
